<div class="card">
    <div class="card-header">
      <h4 class="card-title">Form</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="">Dime tu nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="" #nombre>
        <button type="button" class="btn" (click)="nombre.value = nombre.value">Guardar</button>
        <button type="button" class="btn" (click)="nombre.value = ''">Borra</button>
      </div>
    </div>
    <div class="card-footer text-muted">
    Hola {{ nombre.value }}
    </div>
  </div>
